# This workflow runs the linter on the project to ensure certain coding practices are followed.

name: Linting (Both Angular and ES)

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]
    types: [opened, reopened, synchronize]

jobs:
  eslint:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: true
      matrix:
        node-version: ['20.x', '22.x', '24.x']
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    
    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: './demo/package-lock.json'
    
    - name: Install dependencies
      run: npm ci
      working-directory: ./demo

    - name: Run NG Lint
      run: npm run lint
      working-directory: ./demo
    
    - name: Run ESLint
      run: npx eslint . --max-warnings=0
      working-directory: ./demo