# This workflow runs all spec tests in the src/ directory.

name: Angular Spec Tests

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]
    types: [opened, reopened, synchronize]

jobs:
  test:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: true
      matrix:
        node-version: ['20.x', '22.x', '24.x']
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    
    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: './demo/package-lock.json'
    
    - name: Install dependencies
      run: npm ci
      working-directory: ./demo
    
    - name: Run Angular tests
      run: npm run test -- --watch=false
      working-directory: ./demo